/* Main intro */

.intro {
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 40px 5px;
}

.intro h2 {
  padding-bottom: 10px;
}

.intro a:hover {
  transition: 0.15s;
}

/* Front page cards */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: row;
  margin: 150px 0px;
}

.card {
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin: 50px 20px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  border-radius: 20px;
  padding: 50px 10px;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
  .cards {
    margin: 100px 0px;
  }
}
